/*
==============================================
CSS3 Effects 'N Stuff
==============================================

Made by Amechi Egbe

www..com/animations/

Questions, comments, concerns, love letters:
amechiegbe@gmail.com
==============================================
*/


/***************** Box Effects *******************************/

.grid_main .userBox {
 background: rgb(255,255,255);
 border:0 !important;
 transition:background 2s, border-color 2s ,border-radius 2s, border 2s;
}

  .grid_main .userBox:hover {
    border:1px solid rgb(18, 194, 134);
    border-color: rgb(18, 194, 134);
    border-radius:50%;
    background:rgba(0,0,0,0.3);
    }


.grid_main .box1 {
 transition: background 2s, border-color 2s ,border-radius 2s, border 2s;
  background:rgb(0,0,0);
}

  .grid_main .box1:hover {
  border:1px solid rgb(18, 194, 134);
  border-color: rgb(18, 194, 134);
  border-radius:50%;
  background:rgba(0,0,0,0.3);
  }


.grid_main .box2 {
background:rgb(0,0,0);
transition: border 1s, background 1s, transform 2s;
}

  .grid_main .box2:hover{
  border:1px solid rgb(18, 194, 134);
  background:rgba(255,255,255,0.9);
  transform:scale(1.2);
  color:rgb(255,255,255);
 
  }
  


.grid_main .box3 {
/*border-top:1px solid rgb(255,255,255);*/

/* backface-visibility:visible;
perspective:500px;
perspective-origin:(50% 5%);*/
}

.grid_main .box3:hover {
/*transform:rotate3d(0, 90, 0,200deg);*/
}

